.card1 {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  /* cursor: pointer; */
  transition: transform 0.2s;
}

.card1:hover {
  transform: scale(1.02);
}
.show {
  display: block !important;
  visibility: visible !important;
  height: auto !important;
}

.badge{
  background-color: #cfe2ff;
  color: black;
}

.card2 {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  /* cursor: pointer; */
  transition: transform 0.2s;
}

/* Estilo para la lista de resultados */
.search-results {
  list-style-type: none;
  /* Elimina los puntos de la lista */
  padding: 0;
  /* Elimina el espacio interno de la lista */
  border: 1px solid #ccc;
  /* Agrega un borde para separar visualmente las opciones */
  max-height: 200px;
  /* Limita la altura máxima para evitar que sea demasiado larga */
  overflow-y: auto;
  /* Agrega una barra de desplazamiento vertical si es necesario */

  position: absolute;
    z-index: 1000;
    /* Ajusta el valor de z-index según sea necesario para que la lista aparezca por encima de la tarjeta */
    width: 49%;
    /* Ajusta el ancho de la lista según sea necesario */
    background-color: white;

}

/* Estilo para cada elemento de la lista */
.search-result-item {
  padding: 8px;
  /* Añade un espacio interno a cada elemento de la lista */
  cursor: pointer;
  /* Cambia el cursor al pasar sobre los elementos */
}

/* Cambiar el color de fondo al pasar sobre los elementos */
.search-result-item:hover {
  background-color: #f0f0f0;
}

