<div class="container-fluid">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-4" *ngFor="let dg of dgs; let i = index">
        <div class="card shadow-sm p-2 mb-3 bg-body-tertiary rounded" style="height: 25rem;"
          [routerLink]="['/dg/content', dg.id]">
          <img [src]="imgArray[i].img" style="height: 25rem;" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ dg.text }}</h5>
            <p class="card-text">Productos Detectados: {{ productCounts[i] }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


